# ===== dataset =====
data/

# ===== pretrained model =====
roberta-large/

# ===== cache =====
__pycache__/
*.pyc

# ===== model weights =====
*.pt
*.pth
*.bin
*.ckpt

# ===== experiments =====
exps/
experiments/
logs/
runs/

# ===== IDE =====
.vscode/
.idea/
